# Entorno virtual
env/
venv/
.venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
db.sqlite3
media/

# Migraciones (opcional — muchos equipos sí las suben)
# apps/**/migrations/

# IDEs
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
